{% extends 'base.html.twig' %}

{% block title %} Iska Contrat {% endblock %}

{% block body %}
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root">You need to enable JavaScript to run this app.</div>
{% endblock %}
